<form
  class="form-group backup-selection"
  action=""
  data-route-to-save="{{ form_route_to_save }}"
  data-route-to-submit="{{ form_route_to_submit }}"
  data-route-to-delete="{{ form_route_to_delete }}"
  id="{{ form_backup_selection_name }}"
  name="{{ form_backup_selection_name }}"
>
  <div class="backup-selection__infos">
    <label for="{{ form_fields.BACKUP_NAME }}">
      {{ 'Select the backup you want to restore to'|trans({}) }}
    </label>

    <select id="{{ form_fields.BACKUP_NAME }}" name="{{ form_fields.BACKUP_NAME }}">
      <option value="0">
        {{ '-- Choose a backup to restore --'|trans({}) }}
      </option>
      {% if availableBackups is not empty %}
        {% for backupName in availableBackups %}
          <option value="{{ backupName }}">
            {{ backupName }}
          </option>
        {% endfor %}
      {% endif %}
    </select>
  </div>
  <button
    class="btn btn-link backup-selection__delete"
    name="action"
    type="submit"
    value="delete"
  >
    {{ 'Delete selection'|trans({}) }}
    <i class="material-icons">delete</i>
  </button>
</form>
