{% if (archiveFiles is defined and archiveFiles is not empty) and (xmlFiles is defined and xmlFiles is not empty) %}
  <div class="local-archive">
    <div class="form-group">
      <label for="{{ form_fields.archive_zip }}">
        {{ 'Archive to use:'|trans({}) }}
        <span class="require-star">*</span>
      </label>

      <select
        class="form-control {% if errors[form_fields.archive_zip] %} error {% endif %}"
        id="{{ form_fields.archive_zip }}"
        name="{{ form_fields.archive_zip }}"
        required
      >
        <option value="">{{ 'Choose an archive'|trans({}) }}</option>
        {% for file in archiveFiles %}
          {% set fileName = file|replace({(downloadPath): ''}) %}
          <option
            {% if current_values is defined and current_values.archive_zip == fileName %}
              selected
            {% endif %}
            value="{{ fileName }}"
          >
            {{ fileName }}
          </option>
        {% endfor %}
      </select>

      {% if errors[form_fields.archive_zip] %}
        <div class="error-message">
          <i class="material-icons">error</i>
          {{ errors[form_fields.archive_zip] }}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form_fields.archive_xml }}">
        {{ 'XML file to use:'|trans({}) }}
        <span class="require-star">*</span>
      </label>

      <select
        class="form-control {% if errors[form_fields.archive_xml] %} error {% endif %}"
        id="{{ form_fields.archive_xml }}"
        name="{{ form_fields.archive_xml }}"
        required
      >
        <option value="">{{ 'Choose an XML file'|trans({}) }}</option>
        {% for file in xmlFiles %}
          {% set fileName = file|replace({(downloadPath): ''}) %}
          <option
            {% if current_values is defined and current_values.archive_xml == fileName %}
              selected
            {% endif %}
            value="{{ fileName }}"
          >
            {{ fileName }}
          </option>
        {% endfor %}
      </select>

      {% if errors[form_fields.archive_xml] %}
        <div class="error-message">
          <i class="material-icons">error</i>
          {{ errors[form_fields.archive_xml] }}
        </div>
      {% endif %}

      {% if errors['global'] %}
        <div class="local-archive__alert">
          {% include "@ModuleAutoUpgrade/components/alert.html.twig" with {
            title: "",
            message: errors['global'],
            alertStatus: "warning",
            buttonLabel: "",
            buttonUrl: "",
          } %}
        </div>
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="alert alert-warning">
    {{ 'No archive found in your admin/autoupgrade/download directory'|trans({}) }}
  </div>
{% endif %}
