{% extends "@ModuleAutoUpgrade/components/render-field.html.twig" %}

{% block action_content %}
  <div class="render-field__select">
    <select name="{{ name }}" id="{{ id }}">
      {% for choice_value, choice_key in choices %}
        <option value="{{ choice_value|default(0) }}" {{ choice_value == value ? 'selected' : '' }}>
          {{ choice_key }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endblock %}
