{% extends "@ModuleAutoUpgrade/components/dialog.html.twig" %}

{% block dialog_content %}
  <div class="dialog__error-report-content">
    <p>
      {{ 'Help us improve the module by sending us this error report. You can add details in the description if you want to.'|trans({}) }}
    </p>

    {% if data_transparency_link %}
      <p>
        <a class="link" target="_blank" href="{{ data_transparency_link }}">
          {{ 'Learn more about your data and your rights'|trans({}) }}<i class="material-icons">launch</i>
        </a>
      </p>
    {% endif %}
  </div>
{% endblock %}

{% block dialog_extra_content_inner %}
  <form class="dialog__error-report-form" id="form-error-feedback" name="form-error-feedback">
    <div class="form-group">
      <label for="userEmail">
        {{ 'Email (optional)'|trans({}) }}
      </label>
      <input
        type="email"
        class="form-control"
        id="userEmail"
        name="email"
        placeholder="{{ 'Enter your email address'|trans({}) }}"
      />
    </div>

    <div class="form-group">
      <label for="errorDescription">
        {{ 'Description (optional)'|trans({}) }}
      </label>
      <textarea
        class="form-control"
        id="errorDescription"
        name="comments"
        placeholder="{{ 'You can add details about the error here.'|trans({}) }}"
        rows="3"
      ></textarea>
    </div>
  </form>
{% endblock %}

{% block dialog_footer %}
  <div class="dialog__footer">
    {% block dialog_footer_inner %}
      <button type="button" class="btn btn-link" data-dismiss="dialog">
        {{ 'Cancel'|trans({}) }}
      </button>

      <button type="submit" form="form-error-feedback" class="btn btn-primary">
        <i class="material-icons">send</i>
        {{ 'Send error report'|trans({}) }}
      </button>
    {% endblock %}
  </div>
{% endblock %}
