{% extends "@ModuleAutoUpgrade/components/dialog.html.twig" %}

{% set title = 'Start update?'|trans({}) %}

{% block dialog_content %}
  <form
    class="dialog__spacer"
    action=""
    data-route-to-submit="{{ form_route_to_confirm }}"
    id="form-confirm-update"
    name="form-confirm-update"
  >
  {% if not backup_completed %}
    <p>
      {{ 'Before starting the update, make sure you have a complete and recent backup of your store (database, files, and images).'|trans({}) }}
    </p>
  {% else %}
    {% set message = 'You are about to launch the update, do you want to continue?'|trans({}) %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block dialog_extra_content %}
  {% if not backup_completed %}
    <div class="dialog__no-backup checkbox">
      <label>
        <input type="checkbox" value="" id="dialog-start-update-own-backup" />
        {{ 'I have made my own backup and can restore it manually if a problem occur.'|trans({}) }}
      </label>
    </div>
  {% endif %}
{% endblock %}

{% block dialog_footer %}
  <div class="dialog__footer">
    {% block dialog_footer_inner %}
      <button type="button" class="btn btn-link" data-dismiss="dialog">
        {{ 'Cancel'|trans({}) }}
      </button>

      <button
        type="submit"
        class="btn btn-primary"
        form="form-confirm-update"
      >
        <img
          class="dialog__rocket-icon rocket-icon"
          src="{{ assets_base_path }}/img/rocket_white.svg"
          width="20"
          height="20"
          alt=""
        />
        {{ 'Start update'|trans({}) }}
      </button>
    {% endblock %}
  </div>
{% endblock %}
